background-color = #{{base01-hex}}
outline-color = #{{base00-hex}}
text-color = #{{base05-hex}}
border-color = #{{base08-hex}}
selection-color = #{{base06-hex}}
selection-background = #{{base02-hex}}
