background-color = #{{base00-hex}}
outline-color = #{{base00-hex}}
text-color = #{{base05-hex}}
border-color = #{{base03-hex}}
selection-color = #{{base05-hex}}
selection-background = #{{base02-hex}}
