.modeUnreadImportant__2ea32 .name__2ea32:not(:hover) { color: var(--channels-default) !important; }
.modeUnreadImportant__2ea32 .icon__2ea32 { color: var(--channel-icon) !important; }
.unreadImportant__2ea32 { display: none; }
.pill_e5445c { display: none !important; }
.containerPadding__7aaec { display: none !important; }
.newMessagesBar__0f481 { display: none !important; }
.group-spacing-16 .divider__5126c { display: none !important; }


